* text=auto eol=lf

*.blade.php diff=html
*.css linguist-detectable=false
*.js linguist-detectable=false
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
